[submodule "scripts"] # bacanya==> ada submodule dgn nama foldernya adalah scripts
	path = scripts # dan dia diregistrasikan ke folder scripts
	url = git@github.com:roniyahdi/belajar-git-submodule.git # dan submodule tsb diambil dari sini
	branch = release
